### STANDARD
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


### CUSTOM
# Asset images
src/assets/**/*.jpg
src/assets/**/*.png
src/assets/**/*.webp

# Asset videos
src/assets/**/*.mp4
src/assets/**/*.ogg
src/assets/**/*.webm

# Ico
public/**/*.ico

# Backend-related build files
.firebase/
