// TODO set brand colors
$primary : #5469D4;
$secondary : #5B6871;
$accent : #9C27B0;
$dark : #1D1D1D;

// Background colors
$lightest : #FFFFFF;
$lighter : #F7FAFC;
$light : #B0BABF;
$light-dark: #84919A;
$dark-light : #5B6871;

// Useful colors
$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;

// Chart colors
$chart-color1: #165BAA;
$chart-color2: #A155B9;
$chart-color3: #F765A3;

// New variables to be used in the future
$menu-color: #ffb055;
$brand-color-1: #ff8901;
$brand-color-3: #ff392b;
$typography-1: #1c2a53;
$typography-2: #555f7e;
$typography-3: #8e95a9;
$typography-4: #ffffff;
$bg-1: #ffffff;
$bg-2: #f2f4f5;
$bg-3: #f8f8f8;
$line-1: #e9eaf3;
$line-2: #cdd1de;
$shape-1: #f8f8f8;
$shape-2: #f5f7fb;
$shape-3: #141d3a;
$shape-4: #ffffff;
$icon-color-1: #c8cad8;
$essential-1: #ffa000;
$essential-2: #279f51;
$essential-3: #ff392b;
$essential-4: #00c3f8;
$essential-5: #2f80ed;



@import '~quasar-variables-styl'