@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';

/***** Setup fonts *****/
h1,
.text-h1,
h2,
.text-h2,
h3,
.text-h3,
h4,
.text-h4,
h5,
.text-h5,
h6,
.text-h6 {
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
  font-weight: bold;
}

.text-input-top-label {
  font-size: 0.9rem;
  color: $light-dark;
}

/***** Setup colors *****/
.text-lightest {
  color: $lightest !important;
}

.bg-lightest {
  background: $lightest !important;
}

.text-lighter {
  color: $lighter !important;
}

.bg-lighter {
  background: $lighter !important;
}

.text-light {
  color: $light !important;
}

.bg-light {
  background: $light !important;
}

.text-light-dark {
  color: $light-dark !important;
}

.bg-light-dark {
  background: $light-dark !important;
}

.text-chart-color1 {
  color: $chart-color1 !important;
}

.text-chart-color2 {
  color: $chart-color2 !important;
}

.text-chart-color3 {
  color: $chart-color3 !important;
}

/***** Useful classes *****/

// Prevent text selection
.prevent-select {
  -webkit-user-select: none; // Safari
  -ms-user-select: none; // IE 10 and IE 11
  user-select: none; // Standard syntax
}