@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';



/***** Setup fonts *****/
h1,
.text-h1 {
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
  font-weight: $os-fontweight-bold;
  font-size : $os-fontsize-xxl;
  color: $os-secondary-9;
}
h2,
.text-h2 {
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
  font-weight: $os-fontweight-bold;
  font-size : $os-fontsize-xxl;
  color: $os-secondary-8;
}

h3,
.text-h3 {
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
  font-weight: $os-fontweight-bold;
  font-size : $os-fontsize-lg;
  color: $os-secondary-5;
}

h4,
.text-h4
  {
    margin-block-start: 0.6em;
    margin-block-end: 0.4em;
    font-weight: $os-fontweight-semibold;
    font-size : $os-fontsize-md;
    color: $os-secondary-6;
  }

h5,
.text-h5   {
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
  font-weight: $os-fontweight-semibold;
  font-size : $os-fontsize-regular;
  color: $os-secondary-6;
}

h6,
.text-h6 {
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
  font-weight: $os-fontweight-semibold;
  font-size : $os-fontsize-regular;
  color: $os-secondary-7;
}


p {
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

a {
  font-weight: bolder;

  &:not(.link-child) {
    color: $os-secondary-5;

    &:hover {
      color: $os-secondary-9;
    }
  }

  &.link-child {
    color: inherit;
    @extend .no-decoration;
  }
}



/***** Setup colors *****/
.text-lightest {
  color: $lightest !important;
}

.bg-lightest {
  background: $lightest !important;
}

.text-lighter {
  color: $lighter !important;
}

.bg-lighter {
  background: $lighter !important;
}

.text-light {
  color: $light !important;
}

.bg-light {
  background: $light !important;
}

.text-light-dark {
  color: $light-dark !important;
}

.bg-light-dark {
  background: $light-dark !important;
}

.text-dark-light {
  color: $light-dark !important;
}

.bg-dark-light {
  background: $light-dark !important;
}

.text-chart-color1 {
  color: $chart-color1 !important;
}

.text-chart-color2 {
  color: $chart-color2 !important;
}

.text-chart-color3 {
  color: $chart-color3 !important;
}

.bg-inherit {
  background: inherit;
}


/***** Setup sizes *****/
.limit-max-width {
  max-width: min(50em, 700px);
}

.dialog-min-width {
  min-width: min(max(40em, 500px), 96vw);
}

.width-90 {
  width: 90%;
}


/***** Setup appearance *****/
.bordered {
  border: 1px solid $dark-light;
}


/***** Useful classes *****/

// Prevent text selection
.prevent-select {
  -webkit-user-select: none; // Safari
  -ms-user-select: none; // IE 10 and IE 11
  user-select: none; // Standard syntax
}

// Avoid underline
.no-decoration {
  text-decoration: none
}




/***** Custom classes ******/
.text-brand{
  color:$os-secondary-4 !important;
}
.bg-brand{  
  background: $os-primary-6 !important;
}


.text-icon-color {
  color: $os-primary-4 !important;
}



.text-primary-button {
  color: $os-primary-6 !important;
}
.bg-primary-button {
  background: $os-primary-6 !important;
}

.text-secondary-button {
  color: $os-secondary-8 !important;
}
.bg-secondary-button {
  background: $os-secondary-8 !important;
}

.text-unselected-drawer {
  color: $os-secondary-6 !important;
}


.bg-table-element {
  background: $os-grey-0 !important;
}
.bg-table-header {
  background: $os-grey-cold-2 !important;
}
.bg-table-element-selected {
  background: $os-grey-cold-1 !important;
}
.bg-table-element-selected-child {
  background: $os-grey-0 !important;
}
.text-input-top-label,
.text-table-header {
  font-size: 0.9rem;
  color: $os-grey-cold-7;
}