// TODO set brand colors
$primary : #5469D4;
$secondary : #5B6871;
$accent : #9C27B0;
$dark : #1D1D1D;

// Background colors
$lightest : #FFFFFF;
$lighter : #F7FAFC;
$light : #B0BABF;
$light-dark : #5B6871;

// Useful colors
$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;

// Chart colors
$chart-color1: #165BAA;
$chart-color2: #A155B9;
$chart-color3: #F765A3;


@import '~quasar-variables-styl'