# This workflow will create a preview url whenever a push is made
# to the release branch, that collects changes ready for deploy.

name: Preview release

on:
  push:
    branches:
      - release

jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ vars.FRONTEND_WORKING_DIRECTORY }}

    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_OPENSTRENGTH }}"
          projectId: openstrength
          entryPoint: ${{ vars.FRONTEND_WORKING_DIRECTORY }}
