# This workflow will create a preview url whenever a push is made
# to the release branch, that collects changes ready for deploy.

name: Preview release

on:
  pull_request:
    branches:
      - main

jobs:
  build_and_preview:
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ vars.FRONTEND_WORKING_DIRECTORY }}

    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - id: package-version
        run: |
          PACKAGE_VERSION=$(cat package.json | jq -r '.version')
          echo "Package version $PACKAGE_VERSION"
          echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> "$GITHUB_OUTPUT"
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_OPENSTRENGTH }}"
          projectId: openstrength
          channelId: ${{ steps.package-version.outputs.PACKAGE_VERSION }}
          entryPoint: ${{ vars.FRONTEND_WORKING_DIRECTORY }}
