# This workflow will update package version number throughout the project
# and create a tag with matching version number on main branch.

name: Update Package Version

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: 'frontend'

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Node.js 18
      uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: 'npm'
        cache-dependency-path: 'frontend/package-lock.json'

    - name: Get package version
      id: package-version
      run: |
        PACKAGE_VERSION=$(cat package.json | jq -r '.version')
        echo "Package version $PACKAGE_VERSION"
        echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> "$GITHUB_OUTPUT"

    - name: Update package-lock.json and config then push
      env:
          PACKAGE_VERSION: ${{ steps.package-version.outputs.PACKAGE_VERSION }}
      run: |
        # update version in package-lock
        npm install --no-audit --no-fund --package-lock-only

        # update version in app config
        CONFIG_FILE="./src/boot/config.ts"
        if sed -i -E "s/(\bversion\b\s*:\s*\"v)[^\"]*\"/\1$PACKAGE_VERSION\"/g w /dev/stdout" $CONFIG_FILE; then
          git diff -U0 -- $CONFIG_FILE
        fi

        # commit changes
        if git diff --exit-code --name-only -- package-lock.json $CONFIG_FILE; then
          echo "No change."
        else
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git add -f package-lock.json
          git add -f $CONFIG_FILE
          git commit -m "Update app version to $PACKAGE_VERSION"
          git push
        fi
