# This workflow will update package version number throughout the project
# and create a tag with matching version number on main branch.

name: Update Package Version

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: 'frontend'

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Node.js 18
      uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: 'npm'
        cache-dependency-path: 'frontend/package-lock.json'

    - name: Get package version
      run: |
        PACKAGE_VERSION=$(cat package.json | jq -r '.version')
        echo "Package version $PACKAGE_VERSION"

    - name: Update package-lock.json and config then push
      run: |
        npm install --package-lock-only # update version in package-lock

        CONFIG_FILE="./src/boot/config.ts"
        if sed -i -E 's/\bversion\b\s*:\s*"v([^"]*)"/"$PACKAGE_VERSION"/g' $CONFIG_FILE; then
          git diff -U0 -- $CONFIG_FILE | grep -Po '(?<=^\+)(?!\+\+).*'
        fi

        if git diff --exit-code --name-only -- package-lock.json $CONFIG_FILE; then
          echo "No change."
        else
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git add -f package-lock.json
          git add -f $CONFIG_FILE
          git status
          #git commit -m "Update app version to $PACKAGE_VERSION"
          #git push
        fi
