# This workflow will update package version number throughout the project
# and create a tag with matching version number on main branch.

name: Update Package Version

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: 'frontend'

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Node.js 18
      uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: 'npm'
        cache-dependency-path: 'frontend/package-lock.json'

    - name: Update package-lock.json and push
      run: |
        npm install --package-lock-only

        if git diff --exit-code --name-only package-lock.json; then
          echo "No change."
        else
          echo "Ready to push"
          # git config user.email "github-actions[bot]@users.noreply.github.com"
          # git config user.name "github-actions[bot]"
          # git add -f package-lock.json
          # git commit -m "Update package-lock.json"
          # git push
        fi
